    .change-password-container input {
    min-height: 20px;
    padding: 2px;
    padding-left: 10px;
    border-radius: 10px;
    border: 1px solid rgb(238, 107, 82, 0.5);
    margin: 6px;
    }

    .change-password-container {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    

    .change-password-container button {
    background-color: rgb(238, 107, 82);
    border: 2px solid rgb(238, 107, 82);
    padding: 5px 10px;
    color: white;
    border-radius: 10px;
    font-size: 14px;
    font-weight: bolder;
    margin: 10px;
    transition: all 0.2s ease-in;
}

.change-password-container button:hover {
    cursor: pointer;
    background-color: white;
    color: rgb(238, 107, 82);
}
   