.forgot-password-container input {
    min-height: 20px;
    padding: 8px;
    padding-left: 10px;
    border-radius: 10px;
    border: 1px solid rgb(238, 107, 82, 0.5);
    margin: 10px 50px;
}

.forgot-password-container input:focus, .login-password:focus {
    border: 2px solid rgb(238, 107, 82);
    outline: none;
}

.forgot-password-container form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.forgot-password-container button {
    background-color: rgb(238, 107, 82);
    border: 2px solid rgb(238, 107, 82);
    padding: 5px 10px;
    color: white;
    border-radius: 10px;
    font-size: 16px;
    font-weight: bolder;
    margin: 15px;
    transition: all 0.2s ease-in;
}

.forgot-password-container button:hover {
    cursor: pointer;
    background-color: white;
    color: rgb(238, 107, 82);
}

.forgot-password-container h3 {
    text-align: center;
    color: rgb(238, 107, 82);
    font-size: 24px;
}