.AddDigitalSkills {
  margin: 0px 50px;
  padding: 0px 30px;
  background-color: white;
}

.AddDigitalSkills-input {
  margin: 8px;
  min-height: 20px;
  padding: 2px;
  padding-left: 10px;
  border-radius: 8px;
  border: 1px solid rgb(238, 107, 82, 0.5);
}

.AddDigitalSkills-input:focus {
  border: 2px solid rgb(238, 107, 82);
  outline: none;
}

.AddDigitalSkills-type {
  margin: 8px;
  min-height: 20px;
  padding: 2px;
  padding-left: 10px;
  border-radius: 8px;
  border: 1px solid rgb(238, 107, 82, 0.5);
}

.AddDigitalSkills-type:focus {
  border: 2px solid rgb(238, 107, 82);
  outline: none;
}

.AddDigitalSkills label {
  margin-left: 15px;
  color: rgb(238, 107, 82);
  margin-bottom: 0;
  padding-bottom: 0;
  font-weight: 500;
  margin-top: 15px;
}

@media only screen and (max-width: 730px) {
  .AddDigitalSkills {
    margin-left: -15px;
    margin-bottom: 4px;
    margin-top: 4px;
    padding-left: 2px;
    padding-right: 2px;
    background-color: transparent;
    display: flex;
    align-items: center;
    
  }

}
