.AddDigitalSkills {
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    margin: 30px 50px;
    padding: 30px;
    background-color: white;
    box-shadow: 2px 2px 8px 1px rgba(0,0,0,0.2);
}

.AddDigitalSkills-input {
    margin: 10px;
    min-height: 20px;
    padding: 8px;
    padding-left: 10px;
    border-radius: 10px;
    border: 1px solid rgb(238, 107, 82, 0.5);
}

.AddDigitalSkills-input:focus {
    border: 2px solid rgb(238, 107, 82);
    outline: none;
}


.AddDigitalSkills label {
    margin-left: 15px;
    color:rgb(238, 107, 82);
    margin-bottom: 0;
    padding-bottom: 0;
    font-weight: 500;
    margin-top: 15px;
}

@media only screen and (max-width: 730px) {
    .AddDigitalSkills {
        margin-left: 0;
        margin-right: 0;
    }
  }