.AddProjects {
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    margin: 30px 50px;
    padding: 30px;
    background-color: white;
    box-shadow: 2px 2px 8px 1px rgba(0,0,0,0.2);
}

.AddProjects-input {
    margin: 10px;
    min-height: 20px;
    padding: 8px;
    padding-left: 10px;
    border-radius: 10px;
    border: 1px solid rgb(238, 107, 82, 0.5);
}

.AddProjects-input:focus {
    border: 2px solid rgb(238, 107, 82);
    outline: none;
}

.AddProjects textarea {
    resize: vertical;
}

.AddProjects-subcontainer {
    display: flex;
    flex-direction: column;
}
.AddProjects-subcontainer label {
    margin-left: 15px;
    color:rgb(238, 107, 82);
    margin-bottom: 0;
    padding-bottom: 0;
    font-weight: 500;
    margin-top: 15px;
}

.AddProjects-container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: stretch;
    flex-wrap: wrap;
}

.AddProjects-container > * {
    flex: 1;
}

.AddProjects-description {
    min-height: 150px;
}