html {
  background-color: rgb(240, 236, 216);
}

.Menu-container {

  margin: 30px;
  width: 95%;
}

@media print {
  html {
    background-color: white;
  }
}

@media only screen and (max-width: 730px) {
  .Menu-container {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
  }
}