html {
  background-color: rgb(240, 236, 216);
}

.Menu-container {

  margin: 30px;
  width: 95%;
}


/* App.css */
.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* full viewport height */
}

.App > .content-wrapper {
  flex: 1; /* this pushes footer to bottom */
}

@media print {
  html {
    background-color: white;
  }
  .Footer {
    display: none;
  }
  .Navbar {
    display: none;
  }
}

@media only screen and (max-width: 730px) {
  .Menu-container {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
  }
}